<nav class="navbar navbar-default menu">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <a class="navbar-brand" href="/">Legal Docs</a>
      </div>
      <div class="col-xs-6 text-right">
        <ul class="nav pull-right">
          <li class="active"><%= link_to "Home", home_index_path %></li>
          <li><%= link_to "Document List", documents_path %></li>
          <li><%= link_to "Plan List", plans_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Logout", sign_out_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", sign_in_path %></li>
            <li><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
          <% end %>
      </ul>
      </div>
    </div>
  </div>
</nav>