<div class="container">

  <!-- menu -->
  <%= render 'common/shared/menu' %>

  <h3>Document Index</h3>


  <h3>Search</h3>
  <%= form_tag documents_path, method: :get do %>
    <p>
      <%= text_field_tag :query, params[:query] %>
      <%= submit_tag "Search", name: nil %>
    </p>
  <% end %>

  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Action</th>
    </tr>
    <% @documents.each do |doc| %>
    <tr>
      <td><%= doc.name.titleize %></td>
      <td><%= doc.description %></td>
      <td><%= doc.category.name.titleize %></td>
      <td>
        <%= link_to("Preview",category_document_path(doc.category, doc),class: "btn btn-primary") %>
        |
        <%= link_to("Download",download_path(doc),class: "btn btn-primary") %>
      </td>
    </tr>
    <% end %>
  </table>

  <%= paginate @documents %>
</div>