<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">

  </div>
  <div id="header">
    <% if signed_in? -%>
      Signed in as <strong><%= current_user.name %></strong>!
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %> |
      <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
    <% end -%>
  </div>



  <%= yield %>
</body>
</html>
